// Palette:
// http://paletton.com/#uid=33r0u0kehUd2l+M8QYoiROamUFe

//grays
$mine-shaft: #303030;
$emperor: #555555;
$boulder: #757575;
$alto: #DDDDDD;
$white: #FFFFFF;

// blues
$foam: #EDF9FE;
$sail: #B6E4F7;
$seagull: #87CDEB;
$viking: #5FB4D9;
$boston-blue: #3C97BF;

// oranges
$island-spice: #FFFAEC;
$colonial: #FFEBB9;
$salomie: #FFDF8D;
$goldenrod: #FFD569;
$bright-sun: #FFCB49;

// reds
$fair-pink: #FFF0EC;
$your-pink: #FFC6B9;
$mona-lisa: #FFA38D;
$salmon: #FF8669;
$persimmon: #FF6B49;

// greens
$magic-mint: #A8F5C1;
$forest-green: #1E8940;

// translucent
$panel: rgba(255, 255, 255, 0.7)
