@import '_colors';

.chat-box h1 {
  font-size: 1.4em;
  font-weight: bold;
}

.chat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-input input {
  display: flex;
  margin: 0px 8px;
}

.messages {
  background-color: $foam;
  padding: 8px;
  margin-bottom: 16px;
}

.message {
  margin-bottom: 2px;
}

#chat-button {
  padding: 10px;
}
