@import '_colors';

.chat-box h1 {
  font-size: 1.4em;
  font-weight: bold;
}

.chat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-input input {
  display: flex;
  margin: 0px 8px;
}

.messages {
  padding: 8px;
  margin-bottom: 16px;

  max-height: 300px;
  overflow: scroll;
}

.message {
  margin-bottom: 4px;
  font-size: 0.9em;
  line-height: 1.25em;
}

.message .odd {
  background-color: $foam;
}

.message .even {
  background-color: $white;
}

#chat-button {
  padding: 10px;
}
