@import '_colors';

form {
  padding-left: 12px;
  padding-right: 12px;
}

em {
  font-size: 0.8em;
  color: $boulder;
}

#error_explanation {
  background-color: $fair-pink;
  padding: 12px;
  border: 1px $persimmon solid;
  margin-top: 16px;
  margin-bottom: 12px;
}

#error_explanation h2 {
  color: $persimmon;
  font-size: 1.1em;
  font-weight: bold;
}

#error_explanation li {
  color: $persimmon;
  font-size: 0.9em;
}

#error_explanation ul {
  margin-bottom: 4px;
}
