@import '_colors';

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes flash-notice {
  from {
    margin-top: 8; margin-bottom: 8;
    padding-top: 8; padding-bottom: 8;
    opacity: 1
  }
  to {
    margin-top: 0; margin-bottom: 0;
    padding-top: 0; padding-bottom: 0;
    opacity: 0
  }
}

.panel {
  background-color: $white;
  border-radius: 12px;

  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.flash {
  margin: 8px;
  padding: 8px;
}

.flash-alert {
  background-color: $fair-pink;
  color: $persimmon;
  border: 1px $persimmon solid;
}

.flash-notice {
  background-color: $magic-mint;
  color: $forest-green;
  border: 1px $forest-green solid;

  animation-name: flash-notice;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.no-display {
  display: none;
}

.panel .error-msg {
  color: $persimmon
}
