@import '_colors';

.lobby-tile {
  padding: 12px 24px;
  margin: 8px;
  border-radius: 8px;
  background-color: $sail;
  color: $emperor;
}

.lobby-status {
  font-weight: bold;
  font-size: 2rem;
  color: $forest-green;
}

.lobby-name {
  font-weight: bold;
}

.join-lobby-button {
  min-width: 60px;
  max-width: 80px;
  padding: 8px;
  border-radius: 8px;
  background-color: $viking;
  color: $white;
  text-align: center;
}

.join-lobby-button:hover {
  background-color: $boston-blue;
  color: $white;
}
